include LICENCE
include README.md
include requirements.txt

recursive-include reactord *

exclude tox.ini
exclude pyproject.toml
exclude .readthedocs.yml
exclude requirements_dev.txt
exclude *.png
prune examples
prune .tox
recursive-exclude reactord *.pyc 
prune tests
prune docs
prune .vscode
prune .pytest_cache