include LICENSE
include README.md
include requirements.txt

recursive-include reactord *

exclude tox.ini
exclude pyproject.toml
exclude .readthedocs.yml
exclude requirements_dev.txt
exclude *.png
exclude name_file *
recursive-exclude examples *
recursive-exclude dist *
recursive-exclude reactord *.mod *.log *.pyc 
recursive-exclude tests *
recursive-exclude docs *
recursive-exlcude .vscode